<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <span class="total">
                Valor Total
                <strong class="total-value">
                    {{ calculatedValue | currency: 'BRL' }}
                </strong>
            </span>
        </div>
        <div>
            <app-payment-ways (paymentWayChange)="updatePaymentWay($event)"></app-payment-ways>
        </div>
        <div *ngIf="isCreditCardPayment">
            <app-credit-card (parcelChange)="updateParcel($event)"></app-credit-card>
        </div>
        <div>
            <app-promotional-coupon></app-promotional-coupon>
        </div>
    </div>
</div>
