<div class="credit-card">
    <h5>Cartão de Crédito</h5>
    <div>
        <div class="form-group">
            <div class="row">
                <span class="col-form-label col-sm-2 pt-0 legend">Dados do Cartão</span>
            </div>
            <div class="row">
                <div class="col-md-6 card-field">
                    <label class="form-label" for="credit-card-number">Número do Cartão</label>
                    <input type="text" class="form-control" id="credit-card-number" maxlength="16" minlength="16"
                        required (keypress)="validateOnlyNumbers($event)">
                </div>
                <div class="col-md-6 card-field">
                    <label class="form-label" for="credit-card-name">Nome do Titular</label>
                    <input type="text" class="form-control" id="credit-card-name" required>
                </div>
                <div class="col-md-6 card-field">
                    <label class="form-label" for="credit-card-expiring">Vencimento</label>
                    <input type="month" class="form-control" id="credit-card-expiring" required>
                </div>
                <div class="col-md-6 card-field">
                    <label class="form-label" for="credit-card-cvv">CVV</label>
                    <input type="password" class="form-control" id="credit-card-cvv" autocomplete="off" maxlength="3"
                        minlength="3" required (keypress)="validateOnlyNumbers($event)">
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0 legend">Dados de Pagamento</legend>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label" for="payment-parcel">Parcelamento</label>
                    <select id="payment-parcel" class="form-select" [(ngModel)]="selectedParcelOption"
                        (ngModelChange)="updateParcel()">
                        <option *ngFor="let parcelOption of parcelOptions" [value]="parcelOption.value">
                            {{ parcelOption.display }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
